[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/challenges"]
	path = lib/challenges
	url = https://github.com/Proof-Of-Hack-Protocol/challenges
[submodule "lib/openzeppelin"]
	path = lib/openzeppelin
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
